<div class="col-xs-10 col-xs-offset-1 about">
	<h1> About Splurty </h1>
<br/>
	<p>
		Splurty was built by Hilary to help others liven up their lives.  
	</p>
	<br/>
	<p>
		It is her belief that the little things we do each day have the power to change our lives and make each day a new adventure. This site helps suggest some very small things that might make your day more interesting.
	</p>
    <br/>
	<div class="col-xs-12 col-sm-4">
		<%= image_tag 'splurty.jpg', :class => 'img-responsive' %>
		<h2 class="text-center">Alaskan Wild Flowers</h2>
	</div>

	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
		<h2 class="text-center"> Daily Adventures?</h2>
		<br/>
		<p>
			Each day we do similar things and our lives continue along their paths.  Sometimes we are lucky enough to go on adventures and try things from our "bucket lists", but most days that doesn't feel possible.  These suggestions are small ways to try and switch things up on a daily basis.  Who knows, if we're lucky the small things may end up being the true adventures.
		</p>
	</div>
</div>

<br class="clear">
<br/>
<br/>
<br/>
<br/>